<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Doll House</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">H0ME</a>
        <a href="">+D0LL</a>
      </nav>
      <main>
        {{{yield}}}
      </main>
    </div>
  </body>
  <footer>
    <Copyright (c) 2017 Doll House All Rights Reserved.>
  </footer>
</html>
